/*! HTML5 Boilerplate v8.0.0 | MIT License | https://html5boilerplate.com/ */

/* main.css 2.1.0 | MIT License | https://github.com/h5bp/main.css#readme */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
  color: #222;
  font-size: 1em;
  line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
  resize: vertical;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

/**------------------ General -------------------**/   
html {
  font-size: 16px;
}

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 1em;
  font-weight: 400;
  color: #e2e3ed;
  background: #202322;
}

header, main, footer {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-flow: row wrap;
}

.wrapper {
  width: 88%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
  
}

/**------------------ Header -------------------**/ 

header img {
  width: 70%;
  padding: 15px 0 10px 0;
}

header .divide-line {
  width: 100%;
  height: 1px;
  background-color: #3a3a3a;
}

header nav {
  width: 50%;
  padding: 20px 0;
}

header nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
}

header nav ul li a {
  font-style: normal;
  font-weight: 700;
  text-decoration: none;
  color: #e2e3ed;
}

/**------------------ Hero area -------------------**/ 

h1 {
  font-family: 'Poppins', sans-serif;
  font-size: 2.25em;
  font-weight: 500;
}

.hero {
  width: 100%;
  height: 500px;
  background: url('../img/hero.jpg') center;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

/**------------------ Form -------------------**/

.form {
  display: flex;
  justify-content: center;
  background: #527158;
}

.form h3 {
  font-family: 'Poppins', sans-serif;
  font-size: 1.125em;
  font-weight: 500;
}

.form p {
  font-size: 0.875em;
  font-weight: 400;
}


input[type=text] {
  width: 100%;
  color: #2a423a;
  font-style: italic;
  padding: 1em;
  box-sizing: border-box; 
}

input[type=button] {
  width: 100%;
  padding: 20px 0;
  margin: 20px 0 50px 0;
  background-color: #2a423a;
  font-family: 'Poppins', sans-serif;
  font-size: 1.125em;
  font-weight: 500;
  color: #e2e3ed;
  border: none;
  text-align: center;
}



/**------------------ Features -------------------**/

.feature .wrapper {
  margin-bottom: 30px;
}

.feature {
  display: flex;
  justify-content: center;
  flex-flow: row wrap;
  background: url('../img/features.png') center;
  background-size: cover;
}

.feature h2 {
  font-family: 'Poppins', sans-serif;
  font-size: 1.875em;
  font-weight: 500;
}

.feature-item {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column wrap;
}

.feature-description {
  font-size: 0.875em;
  margin: 30px 0;
}

.feature-icon {
  font-size: 3.75em;
  margin: 0;
}

.feature-icon, .feature-description {
  width: 63%;
  text-align: center;
}

/**------------------ Review -------------------**/

.review {
  display: flex;
  justify-content: center;
  flex-flow: row wrap;
  background: #2a423a;
}

.review img {
  width: 100%;
}

.review h2 {
  font-family: 'Poppins', sans-serif;
  font-size: 1.875em;
  font-weight: 500;
}

.review h3 {
  font-family: 'Poppins', sans-serif;
  font-size: 1.125em;
  font-weight: 500;
  text-align: left;
}

.review-text {
  display: flex;
  justify-content: flex-start;
  flex-flow: row wrap;
}

.review-text p {
  font-size: 0.875em;
  line-height: 1.285;
  margin: 0;
  padding: 0 0 45px 0;
}

/**------------------ Footer -------------------**/

.contact, .social, .copyright {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-flow: row wrap;
}

.contact h3, .contact address, .contact p, .social h3 {
  width: 100%;
  text-align: center;
  margin: 0;
}


.contact a, .contact p {
  font-style: normal;
  text-decoration: none;
  color: #e2e3ed;
}

footer h3 {
  font-family: 'Poppins', sans-serif;
  font-size: 1.125em;
  font-weight: 500;
  padding: 45px 0 10px 0;
}

.social-icons {
  width: 62.5%;
  display: flex;
  justify-content: space-between;
  font-size: 1.125em;
  margin-bottom: 35px;
}

.social-icons i {
  background-color: #527158;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  text-align: center;
  line-height: 40px;
}

.copyright {
  font-size: 0.875em;
}



/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden,
[hidden] {
  display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */

.sr-only {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
  /* 1 */
}

/*
 * Extends the .sr-only class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.sr-only.focusable:active,
.sr-only.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  white-space: inherit;
  width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
  visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix::before,
.clearfix::after {
  content: " ";
  display: table;
}

.clearfix::after {
  clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 768px) {

  .wrapper {           /* Content wrapper changed a bit smaller on tablet */                 
    width: 83%;
  }

  /*-------------------- Header tablet--------------------*/
  header .wrapper {                
    justify-content: space-between;         /* Logo and navigation are now on the same line */
  }
  
  header img {
    width: 35%;
  }

  .divide-line {
    display: none;
  }

  header nav {
    width: 20%;
    padding: 35px 0;
  }

  header nav ul li a {
    font-size: 1em;
  }

  /*-------------------- Hero tablet --------------------*/

  h1 {
    font-size: 3em;
  }

  /*-------------------- Form tablet --------------------*/

  .form .wrapper {
    justify-content: space-between;
    align-items: flex-start;
  }

  .form-description {
    width: 40%;
  }

  .form-input {
    width: 45%;
  }

  .form h3 {
    font-size: 1.5em;
    margin: 35px 0;
  }

  /*-------------------- Features tablet --------------------*/

  .feature-list {
    width: 82%;
    display: flex;
    justify-content: space-between;
    flex-flow: row wrap;
  }

  .feature-item {
    width: 50%;
  }

  .feature h2 {
    font-size: 2.25em;
  }

  /*-------------------- Review tablet --------------------*/
  
  .review .wrapper {
    margin: 0 0 100px 0;
  }

  .review-content {
    display: flex;
    justify-content: space-between;
  }

  .review-img, .review-text {
    width: 48%;
  }

  .review h2 {
    font-size: 2.25em;
    width: 100%;
    text-align: left;
    margin: 100px 0 15px 0;
  }

  .review h3 {
    font-size: 1.5em;
    margin: 0 0 10px 0;
  }

  /*-------------------- Footer tablet --------------------*/

  footer .contact, footer .social {
    width: 32%;
  }

  footer .wrapper {
    justify-content: space-around;
    margin: 90px 0;
  }

  footer h3, footer p {
    padding: 0;
    margin: 0;
  }

  footer h3 {
    font-size: 1.5em;
    padding-bottom: 30px;
  }

  .social-icons {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin: 0;
  }

  .copyright {
    margin: 10px 0;
  }

}




@media print,
  (-webkit-min-device-pixel-ratio: 1.25),
  (min-resolution: 1.25dppx),
  (min-resolution: 120dpi) {
  /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
  *,
  *::before,
  *::after {
    background: #fff !important;
    color: #000 !important;
    /* Black prints faster */
    box-shadow: none !important;
    text-shadow: none !important;
  }

  a,
  a:visited {
    text-decoration: underline;
  }

  a[href]::after {
    content: " (" attr(href) ")";
  }

  abbr[title]::after {
    content: " (" attr(title) ")";
  }

  /*
   * Don't show links that are fragment identifiers,
   * or use the `javascript:` pseudo protocol
   */
  a[href^="#"]::after,
  a[href^="javascript:"]::after {
    content: "";
  }

  pre {
    white-space: pre-wrap !important;
  }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  /*
   * Printing Tables:
   * https://web.archive.org/web/20180815150934/http://css-discuss.incutio.com/wiki/Printing_Tables
   */
  thead {
    display: table-header-group;
  }

  tr,
  img {
    page-break-inside: avoid;
  }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  h2,
  h3 {
    page-break-after: avoid;
  }
}

